#mid{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -500px;
    width: 1000px;
    height: 600px;
}
#damn {
    text-align: center;
    width: 100%;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}
#test {
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, rgba(0, 0, 0, 0.3) 10px 10px, rgba(0, 0, 0, 0.2) 15px 15px, rgba(0, 0, 0, 0.1) 20px 20px, rgba(0, 0, 0, 0.05) 25px 25px;
}
